#container{
    display: flex;
    flex-direction: column;
    text-align: center;
	margin-top: 8%;
	width: 400px;
	border: ridge 1.5px white;
	padding: 20px;
}

body{
	background: #5479be;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #82ace5da, #5479be);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #82ace5da, #5479be); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
