*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family:'poppins','serif';
    background-color: #E3E2E7;
}

.login-btn{
  margin: 0 15px;
}
.banner {
display: flex;
flex-direction: column;
justify-content:end;
align-items: center;
height: 90vh;
width: 100%;
text-align: center;
position: relative;
background-image: url(img/logo-5.jpeg);
background-size: cover;
background-position: center;


}
.banner .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.3;
}
.banner .banner_text {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    background-color: #000000;
    margin-bottom: 25px;
    
  
}
.banner h1 {
   
    margin: auto;
    font-size: 50px;
    font-family: 'merriweather', cursive;
    line-height: 80px;
    color: #e5e5f3;
    padding:20px 20px;

}

.header-parent {
display: flex;
align-items: center;
width: 100%;
text-align: center;


}
.col1{
    width: 50%;
    height: 90vh;
    background-image: url(img/banner.jpg);
    background-size: cover;
    background-position: center;
}
.col2 {
    width: 50%;
}

input {
    font-size: 1em;
    color: #747780;
    background-color: transparent;
    padding: 1em 1em;
    border: 1px solid #d3e2e4;
    outline:none;
    margin-bottom: 10px;
}
input:focus {
    border-bottom: 2px solid #082f6e; 
  }


.card-img-top {
    height: 150px;
    object-fit: cover;
  }

.modal {
    display:none; 
    position: fixed; 
    text-align: center;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    transition:all ease-in 0.6s ;
-webkit-animation-duration: 0.4s;
    animation-name: animatetop;
   animation-duration: 0.4s;
  -webkit-animation-name:animatetop;
}
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
#infoDiv {
    display:none; 
    position: fixed; 
    text-align: center;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    transition:all ease-in 0.6s ;
-webkit-animation-duration: 0.4s;
    animation-name: animatetop;
   animation-duration: 0.4s;
  -webkit-animation-name:animatetop;
}
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  .modal-content  {
    position: relative;
    background-color: #fefefe;
    border-radius: 25px;
    margin: 10% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 500px; 
  }
  .modalInfo-content {
    position: relative;
    display: grid;
    grid-template-rows:    repeat(2, 100px);
    grid-template-columns: repeat(1, 1fr);
    background-color: #fefefe;
    border-radius: 25px;
    margin: 10% auto; 
    padding: 60px;
    border: 1px solid #888;
    width: 500px; 
  }


#password_maker {
    display: flex;
    justify-content:space-around;
    width: 100%;
    padding: 3em 2.5em;
    border-radius: 0.62em;
    box-shadow: 0 1.25em 1.8em rgba(8, 21, 65,);
}
#password_maker  button {
    font-size: 1em;
    background-color: #1e4583;
    color: #c8dbe2;
    padding: 0.8em 0;
    border: none;
    padding: 15px;
    border-radius: 1rem;
    transition: all 0.1s ease-in;
}
 #password_maker button:hover {
    background-color: #273043;
}
#password_maker #password_creator {
    width: auto ;
    border-radius: 0.62em;
    box-shadow: 0 1.25em 1.8em rgba(8, 21, 65,);


}
#password_maker #password_generator{
    width: auto ;
    border-radius: 0.62em;
    box-shadow: 0 1.25em 1.8em rgba(8, 21, 65,);
}

.rangeValue{
    display: grid;
    grid-template-columns: 9fr 3fr;
    align-items: center;
    width: auto;
}
.rangeValue p {
    font-size: 25px;
    color: #273043;
}
.generatedPasswordBox {
    display: none;
    justify-content: space-around;
    align-items: center;
    border: 1px black;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 700;
    padding: 25px;
    background-color:rgba(8, 21, 65, 0.903);
    color: #d6e0e4;
}
#copyIcon {
    font-size: 25px;
}
#passwordListBox {
   width: 80%; 
   height: auto;
   margin: 10px auto;
   padding: 10px;
   border-radius: 25px;
}
.infoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 15px 15px;
    margin: 15px auto;
    border: 1px solid #fddde4;
}
#infoContainer:hover {
    opacity: 0.8;
    box-shadow: 0 1em 1.em rgba(0, 0, 0, 0.36);
}
/* #infoModalContent {
     display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 15px 15px;
    margin: 15px auto;
    border: 1px solid #fddde4; 
} */
#infoModalBtn button {
    font-size: 1em;
    background-color: #082f6e;
    color: #c8dbe2;
    padding: 20px 50px;
    border: 1px solid #082f6e;
    padding: 15px;
    transition: all 0.1s ease-in;
}

.testModal {
    display:none; 
    position: fixed; 
    text-align: center;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    transition:all ease-in 0.6s ;
-webkit-animation-duration: 0.4s;
    animation-name: animatetop;
   animation-duration: 0.4s;
  -webkit-animation-name:animatetop;
}
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }


  @import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400&display=swap");

  .newsletter {
    display: flex;
    background-color: #0d6efd;
    font-family: "Figtree", sans-serif;
    width: 81%;
    height:60vh;
    padding: 4rem;
    margin: auto;
     margin-top: 30px;
     margin-bottom: 30px;
  }
  
  .newsletter .newsText {
    color: white;
    text-align: right;
    width: 45%;
    margin: auto;
  }
  
  .newsletter .newsText h1 {
    font-weight: 600;
  }
  
  .newsletter .newsText img {
    width: 90%;
    margin-top: 1rem;
  }
  
  .newsletter .newsSign {
    background-color: #e2e2e2; 
    width: 40%;
    margin: auto;
    padding: 4rem;
  }
  
  .newsletter form {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #3f79d1;
    font-size: 1rem;
  }
  
  .newsletter .input-field {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .newsletter input {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.9rem;
    border: none;
    border-bottom: 2px solid  #3f79d1;
    font-size: 0.9rem;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    padding: 0 5px;
  }
  
  .newsletter input:focus {
    outline: none;
    color: rgba(0, 0, 0, 0.6);
    border-bottom: 2px solid #0d6efd;
  }

  #search {
    border-radius: 30px;
    background-color:#0d6dfd80 ;
    color: black;
    border: 4px  ;
  }
  
  /* .newsletter button {
    background: linear-gradient(to left, #3f79d1, #0d6efd);
    color: #0d6dfdc5;
    font-size: 0.9rem;
    font-weight: 600;
    width: 50%;
    padding: 0.4rem;
    margin: auto;
    margin-top: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  } */
  